body {
  background: url("../images/bg2.jpeg") bottom no-repeat fixed;
  background-size: cover;
}

@media (max-width: 850px) {
  body {
    display: flex;
    flex-direction: column;
  }
  body .gallery {
    order: 1;
  }
  body .about-us {
    order: 2;
  }
  body .footer {
    order: 3;
  }
  body .header {
    order: 0;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hamburger-menu .menu, .card-overlay, .card-img {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: relative;
  z-index: 6;
}

.navbar-navigation-left {
  width: 500px;
  height: 100%;
  background: linear-gradient(to bottom, black, rgba(132, 77, 54, 0.75));
  position: fixed;
  left: -500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.5s cubic-bezier(1, 0, 0, 1);
}

@media (max-width: 1050px) {
  .navbar-navigation-left {
    width: 350px;
  }
}

@media (max-width: 681px) {
  .navbar-navigation-left {
    left: -70%;
    width: 70%;
  }
}

.navbar-navigation-left .nav-list-item {
  list-style: none;
}

.navbar-navigation-left .nav-list-link {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bolder;
  display: block;
  margin: 25px 0;
  color: #bbb;
  text-align: center;
}

@media (max-width: 1050px) {
  .navbar-navigation-left .nav-list-link {
    margin: 15px 0;
    font-size: 25px;
  }
}

@media (max-width: 960px) {
  .navbar-navigation-left .nav-list-link {
    margin: 25px 0;
    font-size: 25px;
  }
}

@media (max-width: 660px) {
  .navbar-navigation-left .nav-list-link {
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 481px) {
  .navbar-navigation-left .nav-list-link {
    margin: 35px 0;
    font-size: 25px;
  }
}

@media (max-width: 361px) {
  .navbar-navigation-left .nav-list-link {
    margin: 30px 0;
    font-size: 20px;
  }
}

.navbar-navigation-left .nav-list-link:hover {
  color: #47485b;
  letter-spacing: 3px;
  transition: all 0.1s;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu:hover .menu-line {
  background-color: #ff5c5c;
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(42deg);
  background-color: red;
  box-shadow: none;
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(-42deg);
  background-color: red;
  box-shadow: none;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)) center no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 850px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)) center no-repeat;
  }
}

.header .brand {
  position: absolute;
  top: 15%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  .header .brand {
    position: absolute;
    top: 12%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.header-banner {
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
}

@media (max-width: 750px) {
  .header-banner {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.about-us {
  height: 90vh;
  padding: 60px;
  margin-bottom: 100px;
  background: url(../images/YzMISZLrKJS6y8KsAP6w.jpg) right no-repeat;
  background-size: cover;
  opacity: 0.95;
}

@media (max-width: 1700px) {
  .about-us {
    padding: 50px;
  }
}

@media (max-width: 1500px) {
  .about-us {
    padding: 35px;
  }
}

@media (max-width: 1300px) {
  .about-us {
    padding: 25px;
    height: 80vh;
  }
}

@media (max-width: 1050px) {
  .about-us {
    padding: 22px;
    height: 70vh;
  }
}

@media (max-width: 900px) {
  .about-us {
    padding: 19px;
    height: 65vh;
  }
}

@media (max-width: 850px) {
  .about-us {
    background-image: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
  }
}

@media (max-width: 340px) {
  .about-us {
    height: 80vh;
  }
}

.about-us-left {
  width: 1000px;
  height: 600px;
  padding: 40px;
  background-color: rgba(187, 187, 187, 0.4);
  border-radius: 5px;
}

@media (max-width: 1500px) {
  .about-us-left {
    width: 850px;
    height: 550px;
    padding: 25px;
  }
}

@media (max-width: 1300px) {
  .about-us-left {
    width: 750px;
    height: 450px;
    padding: 20px;
  }
}

@media (max-width: 1050px) {
  .about-us-left {
    width: 680px;
    height: 400px;
    padding: 15px;
  }
}

@media (max-width: 900px) {
  .about-us-left {
    width: 650px;
    height: 380px;
  }
}

@media (max-width: 850px) {
  .about-us-left {
    width: 100%;
    height: 400px;
    background-color: rgba(187, 187, 187, 0.6);
  }
}

@media (max-width: 400px) {
  .about-us-left {
    width: 100%;
    height: 500px;
    background-color: rgba(187, 187, 187, 0.6);
    padding: 8px;
  }
}

.about-us-left .description {
  font-size: 25px;
  background-color: #bbbbbb;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 1300px) {
  .about-us-left .description {
    font-size: 20px;
  }
}

@media (max-width: 1050px) {
  .about-us-left .description {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .about-us-left .description {
    font-size: 17px;
  }
}

.about-us-left .description a {
  text-decoration: none;
}

.about-us-left .description a:hover {
  color: #47485b;
}

.about-us-left .main-heading {
  color: #000;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 900;
  text-shadow: none;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 1300px) {
  .about-us-left .main-heading {
    font-size: 35px;
  }
}

@media (max-width: 1050px) {
  .about-us-left .main-heading {
    font-size: 32px;
  }
}

@media (max-width: 900px) {
  .about-us-left .main-heading {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .about-us-left .main-heading {
    font-size: 24px;
  }
}

.about-us-left .sub-heading {
  font-size: 28px;
  color: #000;
  margin-top: 10px;
  text-shadow: none;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1050px) {
  .about-us-left .sub-heading {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .about-us-left .sub-heading {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .about-us-left .sub-heading {
    font-size: 17px;
  }
}

.gallery-header-name {
  background: linear-gradient(rgba(132, 77, 54, 0.8), rgba(0, 0, 0, 0.6));
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "courier new", monospase;
  font-size: 130px;
  text-align: center;
  color: #f3e6c4;
  padding-bottom: 35px;
  text-decoration: underline;
}

@media (max-width: 1500px) {
  .gallery-header-name {
    font-size: 105px;
  }
}

@media (max-width: 1300px) {
  .gallery-header-name {
    font-size: 85px;
  }
}

@media (max-width: 1050px) {
  .gallery-header-name {
    font-size: 65px;
  }
}

@media (max-width: 900px) {
  .gallery-header-name {
    font-size: 55px;
    height: 100px;
  }
}

@media (max-width: 750px) {
  .gallery-header-name {
    font-size: 45px;
  }
}

@media (max-width: 550px) {
  .gallery-header-name {
    font-size: 40px;
  }
}

.gallery-header-name:hover {
  cursor: context-menu;
}

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 66.6666vw;
  justify-content: space-evenly;
  align-items: flex-start;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)) center;
}

@media (max-width: 500px) {
  .gallery .cards-wrapper {
    height: 85vw;
  }
}

.footer {
  padding: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) center;
  width: 100%;
}

@media (max-width: 1500px) {
  .footer {
    padding: 50px 0;
  }
}

@media (max-width: 1300px) {
  .footer {
    padding: 35px 0;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
  }
}

.footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

@media (max-width: 1500px) {
  .footer-header {
    margin-bottom: 45px;
  }
}

.footer-header h1 {
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.footer .social-media {
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin-bottom: 70px;
}

@media (max-width: 1500px) {
  .footer .social-media {
    width: 350px;
  }
}

@media (max-width: 1300px) {
  .footer .social-media {
    width: 250px;
    margin-bottom: 60px;
  }
}

@media (max-width: 750px) {
  .footer .social-media {
    width: 200px;
    margin-bottom: 40px;
  }
}

@media (max-width: 350px) {
  .footer .social-media {
    width: 150px;
    margin-bottom: 20px;
  }
}

.footer .social-media-item {
  list-style: none;
}

.footer .social-media-link {
  text-decoration: none;
  font-size: 60px;
  color: #bbb;
  transition: all 0.3s;
}

.footer .social-media-link:hover {
  color: #47485b;
  text-shadow: 3px 3px 5px black;
}

@media (max-width: 1500px) {
  .footer .social-media-link {
    font-size: 45px;
  }
}

@media (max-width: 1300px) {
  .footer .social-media-link {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .footer .social-media-link {
    font-size: 32px;
    color: #47485b;
    text-shadow: 3px 3px 5px black;
  }
}

@media (max-width: 425px) {
  .footer .social-media-link {
    font-size: 30px;
  }
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.4);
  color: #bbb;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 1500px) {
  .footer-copyright {
    font-size: 13px;
  }
}

.hamburger-menu {
  width: 55px;
  height: 55px;
  z-index: 1;
  position: fixed;
  top: 4%;
  left: 2%;
}

@media (max-width: 1700px) {
  .hamburger-menu {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1500px) {
  .hamburger-menu {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 1300px) {
  .hamburger-menu {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 750px) {
  .hamburger-menu {
    left: 3%;
  }
}

.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
}

.hamburger-menu .menu:hover .menu-line {
  background-color: #bf7d61;
}

.hamburger-menu .menu-line {
  width: 100%;
  height: 8px;
  background-color: #844d36;
  transition: all 0.5s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  transform-origin: left;
}

@media (max-width: 1500px) {
  .hamburger-menu .menu-line {
    height: 7px;
  }
}

@media (max-width: 1300px) {
  .hamburger-menu .menu-line {
    height: 6px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  color: #844d36;
  width: 100px;
  height: 100px;
  border: 5px solid #844d36;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

@media (max-width: 1700px) {
  .logo {
    width: 85px;
    height: 85px;
    font-size: 55px;
  }
}

@media (max-width: 1500px) {
  .logo {
    width: 70px;
    height: 70px;
    font-size: 45px;
  }
}

@media (max-width: 1300px) {
  .logo {
    width: 60px;
    height: 60px;
    font-size: 40px;
    border-width: 4px;
  }
}

@media (max-width: 1050px) {
  .logo {
    width: 57px;
    height: 57px;
    font-size: 37px;
    margin-right: 20px;
  }
}

@media (max-width: 900px) {
  .logo {
    width: 52px;
    height: 52px;
    font-size: 34px;
    border: none;
  }
}

@media (max-width: 700px) {
  .logo {
    display: none;
  }
}

.logo:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #a86245;
  border-color: #a86245;
}

.main-name {
  font-family: fantasy, sans-serif;
  font-size: 64px;
  color: #bbb;
  cursor: context-menu;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 1700px) {
  .main-name {
    font-size: 55px;
  }
}

@media (max-width: 1500px) {
  .main-name {
    font-size: 45px;
  }
}

@media (max-width: 1300px) {
  .main-name {
    font-size: 37px;
  }
}

@media (max-width: 1050px) {
  .main-name {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .main-name {
    font-size: 24px;
  }
}

@media (max-width: 586px) {
  .main-name {
    text-align: center;
  }
}

.sub-name {
  font-family: "josefin sans", sans-serif;
  cursor: context-menu;
  font-size: 38px;
  color: #bbb;
  text-align: end;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-transform: lowercase;
}

@media (max-width: 1500px) {
  .sub-name {
    font-size: 25px;
  }
}

@media (max-width: 1300px) {
  .sub-name {
    font-size: 22px;
  }
}

@media (max-width: 1050px) {
  .sub-name {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .sub-name {
    font-size: 19px;
  }
}

@media (max-width: 586px) {
  .sub-name {
    text-align: center;
  }
}

.main-heading {
  font-family: "josefin sans", sans-serif;
  font-size: 250px;
  font-weight: 900;
  color: #be8268;
  margin-bottom: 0px;
  text-shadow: 0 0 10px #000;
  cursor: context-menu;
}

@media (max-width: 1700px) {
  .main-heading {
    font-size: 200px;
  }
}

@media (max-width: 1500px) {
  .main-heading {
    font-size: 170px;
  }
}

@media (max-width: 1300px) {
  .main-heading {
    font-size: 150px;
  }
}

@media (max-width: 1050px) {
  .main-heading {
    font-size: 125px;
  }
}

@media (max-width: 900px) {
  .main-heading {
    font-size: 100px;
  }
}

@media (max-width: 750px) {
  .main-heading {
    font-size: 90px;
  }
}

@media (max-width: 470px) {
  .main-heading {
    font-size: 75px;
  }
}

@media (max-width: 370px) {
  .main-heading {
    font-size: 65px;
  }
}

.sub-heading {
  font-family: "josefin sans", sans-serif;
  cursor: context-menu;
  text-shadow: 2px 2px 5px #000;
  font-size: 98px;
  font-weight: 400;
  color: #844d36;
  margin-bottom: 40px;
}

@media (max-width: 1700px) {
  .sub-heading {
    font-size: 75px;
  }
}

@media (max-width: 1500px) {
  .sub-heading {
    font-size: 55px;
  }
}

@media (max-width: 1300px) {
  .sub-heading {
    font-size: 50px;
  }
}

@media (max-width: 1050px) {
  .sub-heading {
    font-size: 45px;
  }
}

@media (max-width: 900px) {
  .sub-heading {
    font-size: 38px;
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  .sub-heading {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  .sub-heading {
    font-size: 22px;
  }
}

.main-btn {
  position: relative;
  top: 50px;
  padding: 20px 28px;
  font-family: fantasy, sans-serif;
  font-size: 65px;
  box-shadow: 0 0 20px rgba(187, 187, 187, 0.1);
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #bbb;
  border: none;
  transition: all 0.4s;
}

@media (max-width: 1700px) {
  .main-btn {
    padding: 15px 23px;
    font-size: 45px;
  }
}

@media (max-width: 1500px) {
  .main-btn {
    padding: 12px 16px;
    font-size: 35px;
  }
}

@media (max-width: 1300px) {
  .main-btn {
    padding: 10px 13px;
    font-size: 32px;
  }
}

@media (max-width: 1050px) {
  .main-btn {
    padding: 9px 11px;
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .main-btn {
    padding: 8px 9px;
    font-size: 28px;
  }
}

@media (max-width: 750px) {
  .main-btn {
    padding: 7px 9px;
    font-size: 23px;
  }
}

.main-btn:hover {
  background-color: rgba(38, 38, 38, 0.8);
  color: #844d36;
}

.card {
  width: 27vw;
  height: 27vw;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

@media (max-width: 1050px) {
  .card {
    width: 29vw;
    height: 29vw;
  }
}

@media (max-width: 600px) {
  .card {
    width: 31vw;
    height: 31vw;
  }
}

.card:hover .card-overlay {
  left: 0;
  transition: all 0.6s;
}

.card-overlay {
  position: absolute;
  left: -100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  color: #bbb;
}

@media (max-width: 768px) {
  .card-overlay {
    left: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

.card-overlay-heading {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 40px;
  font-family: fantasy, sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1500px) {
  .card-overlay-heading {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
  }
}

@media (max-width: 1300px) {
  .card-overlay-heading {
    font-size: 22px;
  }
}

@media (max-width: 1050px) {
  .card-overlay-heading {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .card-overlay-heading {
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .card-overlay-heading {
    display: none;
  }
}

.card-overlay-paragraph {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "courier new", monospase;
  margin-top: 10px;
  margin-bottom: 35px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1500px) {
  .card-overlay-paragraph {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1300px) {
  .card-overlay-paragraph {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 1050px) {
  .card-overlay-paragraph {
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .card-overlay-paragraph {
    display: none;
  }
}

.card-overlay-btn {
  padding: 10px 15px;
  font-size: large;
  font-weight: bolder;
  font-family: "josefin sans", sans-serif;
  text-transform: uppercase;
  background-color: #bbb;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .card-overlay-btn {
    padding: 5px 10px;
  }
}

@media (max-width: 1300px) {
  .card-overlay-btn {
    padding: 5px 10px;
    font-size: medium;
  }
}

@media (max-width: 1050px) {
  .card-overlay-btn {
    padding: 5px 10px;
  }
}

@media (max-width: 900px) {
  .card-overlay-btn {
    padding: 5px 10px;
    font-size: small;
  }
}

@media (max-width: 750px) {
  .card-overlay-btn {
    padding: 4px 6px;
  }
}

@media (max-width: 400px) {
  .card-overlay-btn {
    font-size: 10px;
    position: absolute;
    bottom: 0;
  }
}

.card-overlay-btn:hover {
  background-color: white;
}

.card-img {
  object-fit: cover;
}
/*# sourceMappingURL=main.css.map */