
$m:"margin";
$p:"padding";
$color-dark: #262626;
$color-darker: #1f1d1d;
$color-black: #000;
$color-primary: #844d36;
$color-secondary: #bbb;
$color-tertiary: #07630e;
$color-lastiary: #da3f3f;
$color-jadid: #be8268;
$color-white: #bbb;
$color-red: #ff0000;
$color-abie: #47485b;


   


$font-dancingscript: "dancing script", cursive;
$font-josefin: "josefin sans", sans-serif;
$font-fantacy: fantasy, sans-serif;
$font-courier-new: "courier new", monospase;
$font-sans-serif: sans-serif;
body {
    background: url("../images/bg2.jpeg") bottom no-repeat fixed;
    background-size: cover;

    @media (max-width: 850px) {
        display: flex;
        flex-direction: column;

        .gallery {
            order: 1;
        }
        .about-us {
            order: 2;
        }
        .footer {
            order: 3;
        }
        .header {
            order: 0;
        }
    }
}

* {
    #{$m}: 0px;
    #{$p}: 0px;
    box-sizing: border-box;
}

@mixin centering($topvalue: 30%) {
    position: absolute;
    top: $topvalue;
    transform: translate(-50%, -50%);
    left: 50%;
}

@mixin flexlayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textstyles {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

%fullspace {
    width: 100%;
    height: 100%;
}

@mixin transition($params...){
    transition:$params;
}
html{
    scroll-behavior: smooth;
}




